   #box {
      position: absolute;
      top: 310px;
      left: 840px;
      width: 100px;
      height: 61px;
      background-image: url('/home/root/css/png/UFO.png');
      background-size: cover;
      background-repeat: no-repeat;

      
    }
    body {
      background-image: url('/home/root/css/png/playfon.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;

    }
    .bullet {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px pink;
}