   #box {
      position: absolute;
      top: 455px;
      left: 255px;
      width: 100px;
      height: 61px;
      background-image: url('png/UFO.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media only screen and (max-width: 1000px) {
      #box {
        position: absolute;
        top: 455px;
        left: 255px;
        width: 100px;
        height: 61px;
        background-image: url('/UFO.png');
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    body {
      overflow-x: hidden;
      overflow-y: hidden;
      background-image: url('png/Playfon.png');
      background-color: #172c0c;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
     }
     @media only screen and (max-width: 1000px) {
        body {
          position:fixed;
          user-zoom: fixed;
          background-image: url('png/Phone.png');
          background-color: #141613;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center top;
        }
     }
    .bullet {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px pink;
}
.enemy {
  position: absolute;
  background-image: url(png/flu2.png);
  width: 100px;
  height: 50px;
  
}
@media only screen and (max-width: 1000px) {
  .enemy {
    position: absolute;
    background-image: url(ng/flu2.png);
    width: 100px;
    height: 50px;
  }
}
.eneny {
  position: absolute;
  background-image: url(png/fluZ.png);
  width: 150px;
  height: 50px;
}
@media only screen and (max-width: 1000px) { 
  .eneny {
    background-image: url(ng/fluZ.png);
  }
}

